
    {% extends '::base.html.twig' %}

    {% block corps %}

        <section id="main" class="clearfix text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="found-section section">
                            <h1>404</h1>
                            <h2>Page non trouv&eacute;e</h2>
                            <p>La page que vous cherchez a expir&eacute;e ou a &eacute;t&eacute; d&eacute;plac&eacute;e !</p>
                            <a href="{{ path('accueil') }}" class="btn btn-primary">Retour a l'accueil</a>
                        </div>
                    </div>
                </div>
            </div><!-- container -->
        </section><!-- main -->

    {% endblock %}