
{% extends '::base.html.twig' %}

    {% block corps %}

        <section id="main" class="clearfix published-page">
            <div class="container">
                <div class="row text-center">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="has-error">
                            <i class="fa fa-bomb"></i>
                            <h2>Désolé !</h2>
                            <h4>Une erreur est survenue.</h4>
                        </div>
                    </div>
                </div><!-- row -->
            </div><!-- container -->
        </section><!-- main -->

    {% endblock %}