# Created by .ignore support plugin (hsz.mobi)
### Symfony template
# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

.gitignore
.idea/dataSources.local.xml
.idea/inspectionProfiles/
.idea/workspace.xml
app/Resources/public/css/.DS_Store
app/Resources/public/css/presets/.DS_Store
app/Resources/public/images/.DS_Store
app/Resources/public/images/about-us/.DS_Store
app/Resources/public/images/ads/.DS_Store
app/Resources/public/images/bg/.DS_Store
app/Resources/public/images/car/.DS_Store
app/Resources/public/images/featured/.DS_Store
app/Resources/public/images/icon/.DS_Store
app/Resources/public/images/listing/.DS_Store
app/Resources/public/images/map/.DS_Store
app/Resources/public/images/presets/.DS_Store
app/Resources/public/images/presets/preset1/.DS_Store
app/Resources/public/images/presets/preset2/.DS_Store
app/Resources/public/images/presets/preset3/.DS_Store
app/Resources/public/images/presets/preset4/.DS_Store
app/Resources/public/images/slider/.DS_Store
app/Resources/public/images/trending/.DS_Store
app/Resources/public/js/.DS_Store
src/AnnonceBundle/Entity/Document.php
src/AnnonceBundle/Resources/public/bootstrap-fileinput/
src/AnnonceBundle/Resources/public/images/
src/AnnonceBundle/Resources/public/trade-template/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/css/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/css/presets/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/about-us/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/ads/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/bg/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/car/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/featured/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/icon/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/listing/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/map/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/presets/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/presets/preset1/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/presets/preset2/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/presets/preset3/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/presets/preset4/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/slider/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/images/trending/.DS_Store
src/AnnonceBundle/Resources/public/trade-template/js/.DS_Store
src/AnnonceBundle/Resources/views/Blog/
src/AppBundle/Resources/public/trade-template/css/.DS_Store
src/AppBundle/Resources/public/trade-template/css/presets/.DS_Store
src/AppBundle/Resources/public/trade-template/images/.DS_Store
src/AppBundle/Resources/public/trade-template/images/about-us/.DS_Store
src/AppBundle/Resources/public/trade-template/images/ads/.DS_Store
src/AppBundle/Resources/public/trade-template/images/bg/.DS_Store
src/AppBundle/Resources/public/trade-template/images/car/.DS_Store
src/AppBundle/Resources/public/trade-template/images/featured/.DS_Store
src/AppBundle/Resources/public/trade-template/images/icon/.DS_Store
src/AppBundle/Resources/public/trade-template/images/listing/.DS_Store
src/AppBundle/Resources/public/trade-template/images/map/.DS_Store
src/App
Bundle/Resources/public/trade-template/images/presets/.DS_Store
src/AppBundle/Resources/public/trade-template/images/presets/preset1/.DS_Store
src/AppBundle/Resources/public/trade-template/images/presets/preset2/.DS_Store
src/AppBundle/Resources/public/trade-template/images/presets/preset3/.DS_Store
src/AppBundle/Resources/public/trade-template/images/presets/preset4/.DS_Store
src/AppBundle/Resources/public/trade-template/images/slider/.DS_Store
src/AppBundle/Resources/public/trade-template/images/trending/.DS_Store
src/AppBundle/Resources/public/trade-template/js/.DS_Store
src/AppBundle/Resources/views/
trade/.DS_Store
trade/css/.DS_Store
trade/css/presets/.DS_Store
trade/images/.DS_Store
trade/images/about-us/.DS_Store
trade/images/ads/.DS_Store
trade/images/bg/.DS_Store
trade/images/car/.DS_Store
trade/images/featured/.DS_Store
trade/images/icon/.DS_Store
trade/images/listing/.DS_Store
trade/images/map/.DS_Store
trade/images/presets/.DS_Store
trade/images/presets/preset1/.DS_Store
trade/images/presets/preset2/.DS_Store
trade/images/presets/preset3/.DS_Store
trade/images/presets/preset4/.DS_Store
trade/images/slider/.DS_Store
trade/images/trending/.DS_Store
trade/js/.DS_Store
var/cache/
var/logs/
var/sessions/
vendor/aws/
vendor/doctrine/common/lib/vendor/
vendor/doctrine/dbal/lib/vendor/
vendor/doctrine/orm/docs/en/_theme/
vendor/doctrine/orm/lib/vendor/
vendor/guzzlehttp/
vendor/knplabs/doctrine-behaviors/tests/temp/
web/bundles/annonce/images/
web/bundles/annonce/trade-template/.DS_Store
web/bundles/annonce/trade-template/css/.DS_Store
web/bundles/annonce/trade-template/css/presets/.DS_Store
web/bundles/annonce/trade-template/images/.DS_Store
web/bundles/annonce/trade-template/images/about-us/.DS_Store
web/bundles/annonce/trade-template/images/ads/.DS_Store
web/bundles/annonce/trade-template/images/bg/.DS_Store
web/bundles/annonce/trade-template/images/car/.DS_Store
web/bundles/annonce/trade-template/images/featured/.DS_Store
web/bundles/annonce/trade-template/images/icon/.DS_Store
web/bundles/annonce/trade-template/images/listing/.DS_Store
web/bundles/annonce/trade-template/images/map/.DS_Store
web/bundles/annonce/trade-template/images/presets/.DS_Store
web/bundles/annonce/trade-template/images/presets/preset1/.DS_Store
web/bundles/annonce/trade-template/images/presets/preset2/.DS_Store
web/bundles/annonce/trade-template/images/presets/preset3/.DS_Store
web/bundles/annonce/trade-template/images/presets/preset4/.DS_Store
web/bundles/annonce/trade-template/images/slider/.DS_Store
web/bundles/annonce/trade-template/images/trending/.DS_Store
web/bundles/annonce/trade-template/js/.DS_Store
web/bundles/app/trade-template/css/.DS_Store
web/bundles/app/trade-template/css/presets/.DS_Store
web/bundles/app/trade-template/images/.DS_Store
web/bundles/app/trade-template/images/about-us/.DS_Store
web/bundles/app/trade-template/images/ads/.DS_Store
web/bundles/app/trade-template/images/bg/.DS_Store
web/bundles/app/trade-template/images/car/.DS_Store
web/bundles/app/trade-template/images/featured/.DS_Store
web/bundles/app/trade-template/images/icon/.DS_Store
web/bundles/app/trade-template/images/listing/.DS_Store
web/bundles/app/trade-template/images/map/.DS_Store
web/bundles/app/trade-template/images/presets/.DS_Store
web/bundles/app/trade-template/images/presets/preset1/.DS_Store
web/bundles/app/trade-template/images/presets/preset2/.DS_Store
web/bundles/app/trade-template/images/presets/preset3/.DS_Store
web/bundles/app/trade-template/images/presets/preset4/.DS_Store
web/bundles/app/trade-template/images/slider/.DS_Store
web/bundles/app/trade-template/images/trending/.DS_Store
web/bundles/app/trade-template/js/.DS_Store
web/uploads/fineuploader/
web/uploads/new.html.twig
/var/cache/dev/
/var/logs/
